.main__wrap {
  display: flex;
  width: 100%;
}

.content__wrap {
  display: flex;
  width: 100%;
}

.chat__wrap {
  width: 300px;
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
}
.general {
  width: 100%;
  background-color: aqua;
}

.chat__wrapHeader {
  height: 100px;
  display: flex;
  color: white;
  align-items: center;
  margin-left: 30px;
}

.community {
  height: 100px;
  display: flex;
  color: gray;
  align-items: center;
  margin-left: 30px;
  font-weight: bold;
}

.link {
  height: 40px;
  display: flex;
  color: gray;
  padding-left: 30px;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
}

.link:hover {
  background-color: rgb(30, 30, 30);
  color: white;
}

.chat__wrapFooter {
  height: 100px;
  display: flex;
  color: gray;
  align-items: center;
  margin-left: 30px;
  font-weight: bold;
}

.header {
  height: 90px;
  background-color: rgb(22, 22, 22);
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.header__p {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.header__peopleCount {
  width: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  padding-left: 4px;
}

.header__peopleCount img {
  width: 20px;
  border-radius: 40%;
}

.header__peopleCount p {
  margin-left: 5px;
}

.peopleCount__wrap {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 4px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.peopleCount__wrap:hover {
  background-color: rgba(82, 82, 82, 0.72);
}

.avatar {
  display: flex;
  align-items: center;
  z-index: 20;
  width: 200px;
  justify-content: flex-end;
  margin-right: 50px;
}

.header__avatar {
  color: white;
  background: #f6f6f6;
  z-index: 10;
  width: 28px;
  border-radius: 10px;
}

.name__profile {
  color: #c1c1c1;
  margin: 0 0px 0 -2px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  border-radius: 10px;
  font-size: 13px;
  background-color: #000000;
}

.name__profile p {
  margin: 0 0 0 6px;
}

.navlink:hover,
.navlink:focus {
  color: white;
  outline: none;
}

.name__profile:hover {
  background-color: rgba(82, 82, 82, 0.72);
}
