.main__wrap {
  display: flex;
}

.title__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 20px;
}

.sidebar {
  width: 300px;
}

.header__pages {
  background-color: rgb(22, 22, 22);
  height: calc(100vh - 110px);
  overflow-y: scroll;
}

.aboutus__pages {
  color: white;
}

.aboutus__pages__photo {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1rem 1rem 0 0;
  width: 206px;
  transition: all 0.3s ease 0s;
}

.abotus__pages__text {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0 0 1rem 1rem;
  width: 206px;
}

.aboutus__pages__video {
  background-color: rgba(47, 30, 30, 0.05);
  border-radius: 1rem 1rem 0 0;
  background-color: rgba(255, 255, 255, 0.05);
  width: 206px;
}

.aboutus__pages__video img {
  width: 206px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
}

.aboutus__pages__video__text {
  width: 206px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px 15px;
  border-radius: 0 0 1rem 1rem;
}

.aboutus__pages__video__text p {
  color: #fff;
}

.aboutus__pages h2 {
  color: #fff;
  padding: 30px 0;
}

.aboutus__pages__photo img {
  width: 206px;
  border-radius: 20px;
}

.abotus__pages__text p {
  color: white;
  text-align: center;
  padding: 1.25rem 1rem;
  font-size: 14px;
}

.page__text__videos {
  color: #fff;
  padding: 50px 0 30px 0;
}

.aboutus__pages__text {
  color: white;
}

.secondClass {
  width: 25%;
  padding: 0 15px;
}

.pages__video__row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 0 50px 0;
}

@media (max-width: 1210px) {
  .secondClass__video {
    width: 33.3333%;
  }
}

@media (max-width: 980px) {
  .secondClass__video {
    width: 50%;
  }
}

@media (max-width: 745px) {
  .secondClass__video {
    width: 100%;
  }
}
@media (max-width: 1210px) {
  .secondClass {
    width: 33.3333%;
  }
}

@media (max-width: 980px) {
  .secondClass {
    width: 50%;
  }
}

@media (max-width: 745px) {
  .secondClass {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .sidebar {
    display: none;
  }
  .secondClass {
    width: 100%;
  }
  .aboutus__pages__photo {
    width: 100%;
  }
  .aboutus__pages__photo img {
    width: 100%;
    height: 206px;
  }
  .abotus__pages__text {
    width: 100%;
  }
  
  .secondClass__video {
    width: 100%;
  }

  .aboutus__pages__video {
    width: 100%;
  }
  .aboutus__pages__video img{
    width: 100%;
    height: 206px;
  }
  .aboutus__pages__video__text {
    width: 100%;
  }
  .row {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .header__pages {
    height: calc(100vh - 220px);
  }
}
