@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

body {
  font-family: "Lato", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 20px;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

.col-3 {
  width: 25%;
  padding: 0 15px;
}

.main__wrap {
  display: flex;
  width: 100%;
}

.main__part {
  width: 100%;
}

@media (max-width: 745px) {
  .col-6 {
    width: 100%;
  }
}
