.main__wrap {
  display: flex;
  width: 100%;
}

.content__wrap {
  display: flex;
  width: 100%;
}

.chat__wrap {
  width: 300px;
  background-color: rgb(22, 22, 22);
  display: flex;
  border-right: 1px solid rgb(40, 40, 40);
  flex-direction: column;
}
.general {
  width: 100%;
  background-color: rgb(22, 22, 22);
}

.chat__wrapHeader {
  height: 100px;
  display: flex;
  color: white;
  align-items: center;
  margin-left: 30px;
}

.community {
  height: 100px;
  display: flex;
  color: gray;
  align-items: center;
  margin-left: 30px;
  font-weight: bold;
}

.link {
  height: 40px;
  display: flex;
  color: gray;
  padding-left: 30px;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
}

.link:hover {
  background-color: rgb(30, 30, 30);
  color: white;
}

.chat__wrapFooter {
  height: 100px;
  display: flex;
  color: gray;
  align-items: center;
  margin-left: 30px;
  font-weight: bold;
}

.header {
  height: 90px;
  background-color: rgb(22, 22, 22);
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid rgb(41, 41, 41);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  gap: 30px;
}

.header__p {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 30px;
}

.header__peopleCount {
  width: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  padding-left: 4px;
}

.header__peopleCount img {
  width: 20px;
  border-radius: 40%;
}

.header__peopleCount p {
  margin-left: 5px;
}

.peopleCount__wrap {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 4px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.peopleCount__wrap:hover {
  background-color: rgba(82, 82, 82, 0.72);
}

.avatar {
  display: flex;
  align-items: center;
  z-index: 20;
  width: 200px;
  justify-content: flex-end;
  margin-right: 50px;
}

.header__avatar {
  color: white;
  background: #f6f6f6;
  z-index: 10;
  width: 28px;
  border-radius: 10px;
}

.name__profile {
  color: #c1c1c1;
  margin: 0 0px 0 -2px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  border-radius: 10px;
  font-size: 13px;
  background-color: #000000;
}

.name__profile p {
  margin: 0 0 0 6px;
}

.navlink:hover,
.navlink:focus {
  color: white;
  outline: none;
}

.name__profile:hover {
  background-color: rgba(82, 82, 82, 0.72);
}

.chat__footer {
  height: 30px;
  width: 100%;
  background-color: rgb(22, 22, 22);
}

.comments__making {
  height: 124px;
  background-color: rgb(22, 22, 22);
}

.comments__wrap {
  width: 90%;
  background-color: rgb(47, 47, 47);
  height: 120px;
  margin: 0 auto;
  border-radius: 20px;
}

.comments__input {
  border-bottom: 1px solid gray;
  height: 50%;
  display: flex;
  justify-content: center;
}

.comments__inputArea {
  width: 90%;
  height: 100%;
  background-color: rgb(47, 47, 47);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  outline: none;
  color: white;
}

.comments__inputArea input {
  height: 100%;
}

/* //////////////////////////////////// */

.comments__buttonWrap {
  display: flex;
  height: 50%;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

.button__box1 {
  display: flex;
  gap: 10px;
}

.comments__button1 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  opacity: 1;
  transition: all 0.3s ease-out 0s;
  background-color: rgb(47, 47, 47);
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
}

.comments__button1:hover {
  background-color: purple;
}

.comments__button1 svg {
  width: 1.5rem;
  height: 1.5rem;
}

.comments__button1 path {
  color: rgb(255, 255, 255);
}

.comments__button1 input {
  position: absolute;
  width: 1.875rem;
  height: 1.75rem;
  font-size: 0px;
  cursor: pointer;
  opacity: 0;
}
.comments__button2 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  opacity: 1;
  transition: all 0.3s ease-out 0s;
  background-color: rgb(47, 47, 47);
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  background-color: rgb(113, 102, 255);
}

.comments__button2 svg {
  width: 1.5rem;
  height: 1.5rem;
}
/* //////////////////////////////////// */

.chat__area {
  height: calc(100vh - 244px);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.chat__area__container {
  width: 95%;
}

.chat__area__items {
}

.output__items {
  padding: 30px;
  background-color: rgb(167, 167, 167);
  border-radius: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.output__items img {
  border-radius: 20px;
  width: 160px;
}
.output__items p {
  display: flex;
  justify-content: center;
}
.output__container {
  width: 95%;
  margin: 50px 100px 100px;
}

.people__vote {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px 0;
}

.people__voteDataLine {
  width: 95%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 10px 0;
}

.people__voteLine {
  height: 7.5px;
  border-bottom: 1px solid gray;
  width: 100%;
}

.people__data {
  width: 180px;
  font-size: 11px;
  color: white;
  text-align: center;
  white-space: nowrap;
}

.people__voteContentWrap {
  display: flex;
  width: 100%;
  justify-content: center;
}

.people__voteContent {
  width: 95%;
  display: flex;
}
.people__avatar {
  height: 100%;
}
.people__avatar img {
  height: 40px;
  border-radius: 15px;
}

.people__comment {
  margin-left: 10px;
}

.people__commentNameData {
  display: flex;
  gap: 10px;
}

.people__commentName {
  color: white;
}

.people__commentName:hover {
  text-decoration: underline;
}

.people__commentData {
  color: gray;
}

.people__commentInfo {
  color: rgb(202, 202, 202);
  margin: 10px 0;
  font-size: 14px;
}

.people__commentImg {
  margin: 20px 0;
}

.people__commentReactions {
  display: flex;
  gap: 10px;
}

.reaction {
  display: flex;
  gap: 0.375rem;
  -webkit-box-align: center;
  align-items: center;
  min-width: 3rem;
  height: 30px;
  padding: 0px 0.625rem;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgb(31, 31, 31);
  border-radius: 0.625rem;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  color: white;
  cursor: pointer;
}

.reaction:hover {
  background-color: gray;
}

.emoji__choose {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
  border-radius: 10px;
  border: none;
}
.emoji__choose svg {
  width: 25px;
}

.people__commentName {
  font-size: 13px;
}

.people__commentData {
  font-size: 12px;
}

.reaction {
  font-size: 14px;
}

.emoji__choose svg {
  width: 10px;
}

@media (max-width: 880px) {
  .avatar p {
    display: none;
  }
  .avatar {
    margin-right: 10px;
  }
  .header__p {
    margin-left: 0;
  }
}

@media (max-width:720px) {
  .content__wrap {
    display: flex;
    flex-direction: column;
  }
  .chat__area {
    height: calc(100vh - 230px);
  }
  .header {
    align-items: center;
  }
  .header__p {
    padding: 0;
    width: 100px;
  }
  .peopleCount__wrap p {
    display: none;
  }
  .avatar {
    width: 50px;
  }
}



.general__burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
}

.general__burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.general__burger span {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.menu {
  position: fixed;
  top: 90px;
  left: -100%;
  width: 50%;
  height: calc(100vh - 200px);
  background-color: rgb(
    47,
    47,
    47
  );
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
}

.open {
  display: flex;
  left: 0;
}

.menu a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.menu h4 {
  margin: 20px 0;
}

.menu p {
  font-size: 14px;
  margin: auto 0;
  margin-left: 10px;
  font-weight: bold;
}

.menu a:hover {
  background-color: #555;
}

.update__link {
  margin: 10px 0;
}

@media (min-width: 720px) {
  .general__burger {
    display: none;
  }
}